/*future button colors #175B80 */

body {
	background-color: rgb(238, 238, 238);
	color: #404040;
	font-family: 'Roboto';
}

.navbar {
	border: none;
	border-radius: 0;
	background: rgb(5, 75, 65);
	height: auto;
	box-shadow: rgba(0, 0, 0, 0.227451) 0px 2px 4px 0px;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.5px;
}

h3 {
	text-align: center;
	font-size: 26px;
}

.navbar > container-fluid > a {
	
}

.navbar > container-fluid > a:hover {
	
}

.navbar-brand {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	text-align: center;
	padding-left: 15px;
	letter-spacing: 0.5px;
	margin: 0 !important;
	color: #E1E1E1 !important;
}

.navbar-brand:hover {
	color: white;
}

.navbar-brand > img {
	height: 100%;
	display: inline;
	width: auto;
}

.navbar-brand > span {
	font-weight: 700;
}

.account {
	margin: 0 auto;
	text-align: center;
}

@media screen and (min-width: 750px) {
	.account {
		border: 1px solid #c1c1c1;
		width: 40%;
	}
}

.switcher {
	padding: 5%;
	margin: 0;
}

.switcher-active {
	background-color: #00695c !important;
}

.form-heading {
	color: #404040;
	text-decoration: underline;
	font-size: 24px;
}

.login {
	display: block;
	padding: 15%;
	padding-top: 0;
}

.signup {
	display: none;
	padding: 15%;
	padding-top: 0;
}

.popup {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popup-text {
    visibility: hidden;
    max-width: 360px;
    max-height: 200px;
    margin: auto;
    text-align: center;
    z-index: 1000;
    border-radius: 6px;
    color: #000;
    background-color: #fff;
    opacity: 80%;
    position:absolute;
    top: 45%;
    vertical-align: center;
}

.popup-text.show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}

}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}

}
