{% extends 'base.html' %}

{% block Title %}Assignments{% endblock %}

{% block Student_Content %}

<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
	<div class="col-sm-6" style="text-align:center">
	  <form method="post" enctype="multipart/form-data"> ...
		<input type="file" name="file" id="file" required> <br><br>
		<input type="submit" value="Upload File" name="submit">
	  </form>
	</div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
	<div class="col-sm-6">
      <h3>Your Uploaded File</h3>
      <div style="display:block; border: 2px solid black; padding:10px;">
	    {{link | safe}}
	  </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
  {% if comments %}
  <br>
  <h1>Comments</h1>
  {% for comment in comments %}
  <p>{{ comment['comment'] }}</p>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}

{% block Teacher_Content %}

{% for assignment in assignments %}
<h3>	Assignment: {{assignment['assignmentName']}} </h3>
Description: {{assignment['description']}} <br>
Upload Due Date: {{assignment['uploadDate']}}<br>
Review Enabled: {{assignment['reviewEnabled']}}<br>
Review Due Date: {{assignment['reviewDate']}}<br>
{% endfor %}
<a class="btn btn-default" href="/deleteAssignment/{{ID}}">Delete Assignment</a>
<br>
{% if codeReview == False %}
<a class="btn btn-default" href="/enableReviews/{{ID}}">Enable Random Pair Reviews</a>
{% endif %}
<br>
{% if onTime or late %}

<div class="col-sm-3">
  <h5>Uploaded On Time</h5>
  {% for response in onTime %}
  <a href="/assignment/{{ID}}/{{response['email']}}">{{response['student']}}</a>
  {% endfor %}
</div>

<div class="col-sm-3">
  <h5>Uploaded Late</h5>
  {% for response in late %}
  <a href="/assignment/{{ID}}/{{response['email']}}">{{response['student']}}</a>
  {% endfor %}
</div>
{% endif %}
{% if codeReview == True %}
{% if reviewed or unreviewed %}
<div class="col-sm-3">
  <h5>Completely Reviewed</h5>
  {% for response in reviewed %}
  <a href="/assignment/{{ID}}/{{response['email']}}">{{response['student']}}</a>
  {% endfor %}
</div>

<div class="col-sm-3">
  <h5>Incomplete Reviews</h5>
  {% for response in unreviewed %}
  <a href="/assignment/{{ID}}/{{response['email']}}">{{response['student']}}</a>
  {% endfor %}
</div>

{% endif %}
{% endif %}
{% endblock %}
