{% extends 'base.html' %}

{% block Title %}Assignments{% endblock %}

{% block Student_Content %}

<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
	<div class="col-sm-6" style="text-align:center">
	  <form method="post" enctype="multipart/form-data"> ...
		<input type="file" name="file" id="file" required> <br><br>
		<input type="submit" value="Upload File" name="submit">
	  </form>
	</div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
	<div class="col-sm-6">
      <h3>Your Uploaded File</h3>
      <div style="display:block; border: 2px solid black; padding:10px;">
	    {{link | safe}}
	  </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
  {% if comments %}
  <br>
  <h1>Comments</h1>
  {% for comment in comments %}
  <p>{{ comment['comment'] }}</p>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}

{% block Teacher_Content %}

	{% for assignment in assignments %}
		<br><br>
		<div class="row">
			<div class="col m3"></div>
			<div class="col m6 card grey lighten-4">
				<div class="card-content black-text">
					<center style="font-size: 16px;">
						<br>
						<h1 class="card-heading" style="margin: 0">{{assignment['assignmentName']}}</h1>
						<br>
						<h2 style="margin: 0 ; font-size: 24px" class="card-title">{{ assignment['description'] }}</h2>
						<br>
						<a class="btn btn-default waves-effect waves-light teal darken-3" href="/deleteAssignment/{{ID}}">Delete Assignment</a>
						<br><br>
						<p><i class="fa fa-calendar"></i> (Upload Deadline) {{ assignment['uploadDate'][5:7] + "/" + assignment['uploadDate'][8:10] + "/" + assignment['uploadDate'][0:4] }}</p>
						<br>
						<p><i class="fa fa-calendar"></i> (Review Deadline) {{ assignment['reviewDate'][5:7] + "/" + assignment['reviewDate'][8:10] + "/" + assignment['reviewDate'][0:4] }}</p>
						<br>
						<p>{% if assignment['reviewEnabled'] %}<i class="fa fa-check"></i> Students are reviewing{% else %}<i class="fa fa-cog"></i> Students are uploading {% endif %}code.</p>
						<br>
						<p>Each student reviews {{ assignment['numToReview'] }} other students.</p>
						<br>
						<p>{% if assignment['groupSize'] == 1 %}<i class="fa fa-times"></i> {% else %}<i class="fa fa-check"></i> {% endif %}Groups are {% if assignment['groupSize'] == 1 %}not {% endif %}enabled.</p>
						<br>
						{% if codeReview == False %}
							<a class="btn waves-effect waves-light btn-default teal darken-3" href="/enableReviews/{{ID}}">Enable Random {% if assignment['groupSize'] == 1 %}Pair{% else %}Group{% endif %} Reviews</a>
						{% endif %}
					</center>
				</div>
			</div>
		</div>
	{% endfor %}
{% if onTime or late %}

<div class="col-sm-3">
  <h5>Uploaded On Time</h5>
  {% for response in onTime %}
  <a href="/assignment/{{ID}}/{{response['email']}}">{{response['student']}}</a>
  {% endfor %}
</div>

<div class="col-sm-3">
  <h5>Uploaded Late</h5>
  {% for response in late %}
  <a href="/assignment/{{ID}}/{{response['email']}}">{{response['student']}}</a>
  {% endfor %}
</div>
{% endif %}
{% if codeReview == True %}
{% if reviewed or unreviewed %}
<div class="col-sm-3">
  <h5>Completely Reviewed</h5>
  {% for response in reviewed %}
  <a href="/assignment/{{ID}}/{{response['email']}}">{{response['student']}}</a>
  {% endfor %}
</div>

<div class="col-sm-3">
  <h5>Incomplete Reviews</h5>
  {% for response in unreviewed %}
  <a href="/assignment/{{ID}}/{{response['email']}}">{{response['student']}}</a>
  {% endfor %}
</div>

{% endif %}
{% endif %}
{% endblock %}
