{% extends 'base.html' %}
{% block stylesheet %}<link rel="stylesheet" type="text/css" href="../static/css/styles.css">{% endblock %}
{% block Title %}Class{% endblock %}
{% block Student_Content %}
	<br>
	<center>
		<div class="row">
			<div class="col m3"></div>
			<div class="col m6">
				<div class="card grey lighten-4">
					<div class="card-content black-text">
						<h1 style="margin: 0">{{ className }}</h1>
						<h2 class="card-title" style="margin: 0">Period {{ classCode[1] }}</h2>
						<br>
						<h2 style="font-size: 30px ; margin: 0">Taught by {{ currentClass['teacherName'] }}</h2>
						<h2 class="card-title" style="margin: 0"><i class="fa fa-envelope"></i> {{ currentClass['teacher'] }}</h2>
						<br>
						<h2 style="font-size: 30px ; margin: 0">Information</h2>
						<h2 class="card-title" style="margin: 0"><i class="fa fa-id-card-o"></i> {{ classCode[0] }}</h2>
						<h2 class="card-title" style="margin: 0"><i class="fa fa-user"></i> {{ peeps | length }} student{% if peeps | length != 1 %}s{% endif %}</h2>
						<h2 class="card-title" style="margin: 0"><i class="fa fa-list"></i> {{ assignments | length }} {% if assignments | length > 1 %}total{% endif %} assigment{% if assignments | length != 1%}s{% endif %}</h2>
						<br>
						<a class="btn waves-effect waves-light teal darken-4" href="/class/{{classCode[0]}}-{{classCode[1]}}/createGroup">Create a Group</a>
					</div>
				</div>
			</div>
		</div>
	</center>

	<div class="row">
		{% if assignments | length <= 0 %}
			<div class="col m3"></div>
		{% endif %}
		<div class="col m6">
			<div class="card grey lighten-4">
				<div class="card-content black-text">
					<center><span class="card-title">Students</span></center>
					<ul class="collection">
						{% for student in peeps %}
							<li class="collection-item">{{ student[0] }}<span class="right">{{ student[1]}}</span></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		{% if assignments | length > 0 %}
			<div class="col m6">
				<div class="card grey lighten-4">
					<div class="card-content black-text">
						<center><span class="card-title">Assignments</span></center>
						<div class="collection">
							{% for assignment in assignments %}
								<a class="collection-item" href="/assignment/{{assignment['assignmentID']}}">
									<span class="right">{{ assignment['uploadDate'][5:7] + "/" + assignment['uploadDate'][8:10] + "/" + assignment['uploadDate'][0:4] }}</span>
									<h5 style="margin: 0">{{assignment['assignmentName']}}</h5>
									<p style="color: black">{{assignment['description']}}</p>
								</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	</div>

{% endblock %}
{% block Teacher_Content %}
	<br>
	<center>
		<div class="row">
			<div class="col m3"></div>
			<div class="col m6">
				<div class="card grey lighten-4">
					<div class="card-content black-text">
						<h1 style="margin: 0" id="className">{{ className }} <a style="color: black" href="#rename" class="modal-trigger"><i class="fa fa-pencil" style="font-size: 30px;"></i></a></h1>
						<br>
						<h2 style="font-size: 30px ; margin: 0">Information</h2>
						<h2 class="card-title" style="margin: 0"><i class="fa fa-id-card-o"></i> {{ classCode }}</h2>
						<h2 class="card-title" style="margin: 0"><i class="fa fa-user"></i> {{ studentCount }} student{% if studentCount != 1 %}s{% endif %}</h2>
						<h2 class="card-title" style="margin: 0"><i class="fa fa-list"></i> {{ assignments | length }} {% if assignments | length > 1 %}total{% endif %} assigment{% if assignments | length != 1%}s{% endif %}</h2>
					</div>
				</div>
			</div>
		</div>
	</center>

	<div class="modal" id="rename">
		<div class="modal-content">
			<h3>Rename the Class</h3>
			<br><br>
			<div class="input-field class-modal">
				<input type="hidden" id="classCode" value="{{ classCode }}"></input>
				<input type="text" id="newClassName" placeHolder="{{ className }}" />
				<label for="newClassName">New Class Name</label>
			</div>
			<br>
			<center><button class="btn waves-effect waves-light teal darken-3" type="submit" class="" value="submit" id="submitClassName" name="submit">Rename</button></center>
		</div>
	</div>

	<div class="row">
		<div class="col m4">
			{% for period in periods %}
				<div class="card grey lighten-4">
					<div class="card-content black-text">
						<center><span class="card-title">Period {{ period }}</span></center>
						<ul class="collection">
							{% for student in students[period] %}
								<li class="collection-item">{{ student[0] }}<span class="right">{{ student[1]}}</span></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="col m4">
			{% for period in periods %}
				{% if periods[period]['groups'] %}
					<div class="card grey lighten-4">
						<div class="card-content black-text">
							<center><span class="card-title">Period {{ period }}</span></center>
							<ul class="collection">
								{% for group in periods[period]['groups'] %}
									<li class="collection-item">{{ group }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		{% if assignments | length > 0 %}
		<div class="col m4">
			<div class="card grey lighten-4">
				<div class="card-content black-text">
					<center><span class="card-title">Assignments</span></center>
					<div class="collection">
						{% for assignment in assignments %}
							<a class="collection-item" href="/assignment/{{assignment['assignmentID']}}">
								<span class="right">{{ assignment['uploadDate'][5:7] + "/" + assignment['uploadDate'][8:10] + "/" + assignment['uploadDate'][0:4] }}</span>
								<h5 style="margin: 0">{{assignment['assignmentName']}}</h5>
								<p style="color: black">{{assignment['description']}}</p>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>

	<a class="btn-floating btn-large waves-effect waves-light teal darken-4 class-fab" href="/createAssignment?classCode={{classCode}}"><i class="fa fa-plus"></i></a>
	<script>
	 $(document).ready(function() {
		 // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		 $('.modal').modal({
			 dismissible: true, // Modal can be dismissed by clicking outside
			 opacity: .5, // Opacity of modal background
			 inDuration: 300, // Transition in duration
			 outDuration: 200, // Transition out duration
			 startingTop: '4%', // Starting top style attribute
			 endingTop: '10%', // Ending top style attribute
		 });
	 });
	</script>

	<script type="text/javascript">
	 var changeName = function() {
		 var newName = document.getElementById("newClassName").value;
		 var classCode = document.getElementById("classCode").value;
		 $.post("/changeClassName", {"newName": newName, "code": classCode }, function(d) {
			 console.log(d);
		 })
		 $('.modal').modal("close");
		 var className = document.getElementById("className");
		 className.innerHTML = newName
	 }
	 document.getElementById("submitClassName").addEventListener("click", changeName)
	</script>
{% endblock %}
