{% extends 'base.html' %}
{% block stylesheet %}<link rel="stylesheet" type="text/css" href="../static/css/styles.css">{% endblock %}
{% block Title %}Class{% endblock %}
{% block Student_Content %}

<h1>Class Name:<span id="className">{{className}}</span></h1>
<br>
<p style="font-size: 12px; color: gray">ClassCode:<span id="classCode">{{classCode}}</span></p>
<h3> Students In Your Class </h3>

{% for p in peeps %}
{{p}},
{% endfor %}
{% endblock %}
{% block Teacher_Content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h1>Class Name:<span id="className">{{className}}</span></h1>
      <br>
      <p style="font-size: 12px; color: gray">ClassCode:<span id="classCode">{{classCode}}</span></p>
      <div class="popup">
        <p id="changeName" style="font-size: 10px; color: gray">Change Class Name</p>
        <!-- PopUp Stuff that is hidden -->
        <span class="popup-text" id="myPopup">
          <div class="container">
            <div class="row header">

            </div>
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
              Post an Assignment
                <p style="font-size: 16px">New Class Name: <input type="text" id="newClassName" placeHolder="{{className}}"></p>
                <br>
                <input type="submit" class="btn btn-default" id="submitClassName" name="Submit Change">
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>
        </span>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row"> 
    <div class="col-sm-4">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <h3>    Your Students</h3>
      {% for pd in periods %}
      Period:  {{pd}}<br>

      {% for student in periods[pd]['students'] %}
      {{student}},
      {% endfor %}
      <br>
      {% endfor %}
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <br><h3>Student Groups</h3>
      {% for pd in periods %}
      Period:  {{pd}}<br>

      {% for group in periods[pd]['groups'] %}
      {{group}},
      {% endfor %}
      <br>
      {% endfor %}
    </div>
    <div class="col-sm-3">
      
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<script>
  var popUpWindow = function(){
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
  console.log(popup)
  }
  document.getElementById("changeName").addEventListener( "click", popUpWindow );

  var changeName =function(){
  var newName = document.getElementById("newClassName").value;
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
  var classCode = document.getElementById("classCode").innerHTML;
  $.post("/changeClassName", {"newName": newName, "code": classCode }, function(d){
  console.log(d);
  })
  var className = document.getElementById("className");
  className.innerHTML = newName
  }
  document.getElementById("submitClassName").addEventListener("click", changeName)

</script>
{% endblock %}
