{% extends "base.html" %}
{% block Student_Content %}
<h1>You're in the wrong place, bud</h1>
{% endblock %}
{% block Teacher_Content %}
	<script>
	 $(document).ready(function() {
		 $('select').material_select();
	 });
	</script>
	
	<center>
		<br>
		<div class="row">
			<div class="col m2"></div>
			<div class="col m8">
				<div class="card grey lighten-4">
					<div class="card-content black-text">
						<h2>Class Information</h2>
						<form method="post" action="/createClass">
							<div class="input-field class-modal">
								<input type="text" name="name" id="name" required />
								<label for="name">Class Name</label>
							</div>
							<br>
							<div class="input-field class-modal">
								<select name="periods" multiple>
									<option value="1">Period 1</option>
									<option value="2">Period 2</option>
									<option value="3">Period 3</option>
									<option value="4">Period 4</option>
									<option value="5">Period 5</option>
									<option value="6">Period 6</option>
									<option value="7">Period 7</option>
									<option value="8">Period 8</option>
									<option value="9">Period 9</option>
									<option value="10">Period 10</option>
								</select>
								<label>Select Class Periods</label>
							</div>
							<br>
							<center><input type="submit" class="btn waves-effect waves-light teal darken-3" value="Create Class" name="submit"></center>
						</form>
					</div>
				</div>
			</div>
		</div>
	</center>
	
<script>
  var options = [];

  $( '.dropdown-menu a' ).on( 'click', function( event ) {

  var $target = $( event.currentTarget ),
  val = $target.attr( 'data-value' ),
  $inp = $target.find( 'input' ),
  idx;

  if ( ( idx = options.indexOf( val ) ) > -1 ) {
  options.splice( idx, 1 );
  setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
     
  } else {
  options.push( val );
  setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
     
  }

  $( event.target ).blur();

  console.log( options );
  return false;
  });
</script>
{% endblock %}
