{% extends "base.html" %}
{% block Title %}Create Assignment{% endblock %}
{% block Teacher_Content %}
	<center>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					
					<form class="form-create" method="POST" action="/createAssignment">
						<h2 class="form-signin-heading">Assignment Information</h2>
						Assignment Name:<input type="text" class="input-block-level" name="assignmentName" placeholder="Ex. MazeSolver">
						<br><br>
						Description:<input type="textbox" name="details" placeholder="Ex. Leave three positive comments in each code review">
						<br><br>
						Due Date:<input type="date" name="dueDate">
						<input type="hidden" name="classCode" value="{{classCode}}">
						<!-- If we have time to implement groupsAllowed, we will. By default, it will be false -->
						<br><br>
						<input type="submit" value="create" name="Create Assignment">
					</form>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</center>
{% endblock %}
