<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>StuyCS Code Review</title>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Sans+Pro" rel="stylesheet">
		<link href="static/css/font-awesome.min.css">
		  <!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
		<link rel="stylesheet" type="text/css" href="static/css/styles.css">

	</head>
	<body>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper teal darken-4">
					<a class="navbar-brand" style="display: block"><span>StuyCS</span> Code Review</a>
					<ul class="right hide-on-med-and-down">
						
					</ul>
				</div>
			</nav>
		</div>
        
		<nav class="navbar navbar-inverse">
		</nav>

		<br>

		{% if message %}
			<h3>{{message}}</h3>
		{% endif %}

		<div class="account card">
			<div class="row">
				<div class="col s12">
					<ul class="tabs">
						<li class="tab col s6"><a class="active teal-text darken-3" href="#login">Login</a></li>
						<li class="tab col s6"><a class="teal-text darken-3" href="#signup">Register</a></li>
						<div class="indicator teal darken-3" style="z-index:1"></div>
					</ul>
				</div>
				<div id="login" class="col s12 login">
					<div class="col s1"></div>
					<div class="col s10">
						<form class="form-login" method="post">
							<h1 class="card-title">Log In to Your Account</h1>
							<div class="input-field">
								<input type="email" class="form-text validate" name="email" id="email" required />
								<label for="email" data-error="Please use an actual email!">Email</label>
							</div>
							<br>
							<div class="input-field">
								<input type="password" class="form-text" name="pwd" id="pwd" required />
								<label for="pwd">Password</label>
							</div>
							<br>
							<button class="btn waves-effect waves-light teal darken-3" type="submit" value="login" name="submit">Login</button>
						</form>
					</div>
				</div>
				<div id="signup" class="col s12 signup">
					<div class="col s1"></div>
					<div class="col s10">
						<form class="cover-form" method="post">
							<h1 class="card-title">Register for an Account</h1>
							<div class="input-field col s5" style="padding: 0">
								<input type="text" class="form-tet" name="first" id="first" required />
								<label for="first">First Name</label>
							</div>
							<div class="col s2"></div>
							<div class="input-field col s5" style="padding: 0">
								<input type="text" class="form-tet" name="last" id="last" required />
								<label for="last">Last Name</label>
							</div>
							<br><br><br>
							<div class="input-field">
								<input type="text" class="form-text validate" name="email" id="email" required />
								<label for="email">Email</label>
							</div>
							<div class="input-field">
								<input type="password" class="form-text" name="pwd" id="pwd" required />
								<label for="pwd">Password</label>
							</div>
							<div class="input-field">
								<input type="password" class="form-text" name="pwd2" id="pwd2" required />
								<label for="pwd2">Confirm Password</label>
							</div>
							<br>
							<button class="btn waves-effect waves-light teal darken-3" type="submit" value="signup" name="submit">Register</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
		 $(document).ready(function(){
			 $('ul.tabs').tabs();
		 });
		</script>
		
	</body>
</html>
