<html>

Sign Up
<form method="post">
<input type="text" name="email" id="email" placeholder="email">
<br>

<input type="password" name="pwd" id="pwd" placeholder="password">
<br>
<input type="password" name="pwd2" id="pwd2" placeholder="confirm password">
<br>
<input type="submit" value="signup" name="submit">
</form>

Log In
<form method="post">
<input type="text" name="email" id="email" placeholder="email">
<br>

<input type="password" name="pwd" id="pwd" placeholder="password">
<br>
<input type="submit" value="login" name="submit">
</form>

</html>
