{% extends 'base.html' %}

{% block Title %}Profile{% endblock %}
{% block Student_Content %}
	<!-- Insert Student End Here -->

	<br>
	<div class="row">

		<div class="col m2"></div>
		<div class="col m8 card">

			<form method="post">

				<center><h2 class="card-heading">Update Profile</h2></center>
				<div class="row">
					<div class="col m2"></div>
					<div class="input-field col m4">
						<input type="text" name="first" id="fname" />
						<label for="fname">First Name</label>
					</div>
					
					<div class="input-field col m4">
						<input type="text" name="last" id="lname" />
						<label for="lname">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="col m2"></div>
					<div class="input-field col m8">
						<input type="password" name="password" id="password" />
						<label for="password">New Password</label>
					</div>
				</div>
				<div class="row">
					<div class="col m2"></div>
					<div class="input-field col m8">
						<input type="password" name="confirm-password" id="confirm-password" />
						<label for="confirm-password">New Password</label>
					</div>
				</div>
				<br>
				<center><button class="btn waves-effect waves-light teal darken-3" type="submit" value="profile" name="submit">Update Profile</button></center>
				<br>
			</form>

		</div>
{% endblock %}
{% block Teacher_Content %}
	<!-- Insert Teacher End Here -->
	<br>
	<div class="row">
		
		<div class="col m2"></div>
		<div class="col m8 card">
			
			<form method="post">

				<center><h2 class="card-heading">Update Profile</h2></center>
				<div class="row">
					<div class="col m2"></div>
					<div class="input-field col m4">
						<input type="text" name="first" id="fname" />
						<label for="fname">First Name</label>
					</div>
					
					<div class="input-field col m4">
						<input type="text" name="last" id="lname" />
						<label for="lname">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="col m2"></div>
					<div class="input-field col m8">
						<input type="password" name="password" id="password" />
						<label for="password">New Password</label>
					</div>
				</div>
				<div class="row">
					<div class="col m2"></div>
					<div class="input-field col m8">
						<input type="password" name="confirm-password" id="confirm-password" />
						<label for="confirm-password">New Password</label>
					</div>
				</div>
				<br>
				<center><button class="btn waves-effect waves-light teal darken-3" type="submit" value="profile" name="submit">Update Profile</button></center>
				<br>
			</form>
			
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col m2"></div>
		<div class="col m8 card">
			
			<form method="post">
				
				<center><h2 class="card-heading">Invite a Teacher</h2></center>
				<div class="row">
					<div class="col m2"></div>
					<div class="input-field col m4">
						<input type="text" name="first" id="fname" required />
						<label for="fname">First Name</label>
					</div>
					
					<div class="input-field col m4">
						<input type="text" name="last" id="lname" required />
						<label for="lname">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="col m2"></div>
					<div class="input-field col m8">
						<input type="email" name="email" id="email" required />
						<label for="email">Teacher's Email</label>
					</div>
				</div>
				<br>
				<center><button class="btn waves-effect waves-light teal darken-3" type="submit" value="invite" name="submit">Send Invitation Email</button></center>
				<br>
			</form>
		</div>
	</div>
{% endblock %}
