{% extends 'base.html' %}

{% block Title %}Reviews{% endblock %}
{% block Student_Content %}
	{% if message %}
		<h1>{{ message }}</h1>
	{% endif %}
	{% if classes %}
		<ul id="classList">
			{% for class in classes %}
				<li><a href="/reviews/class/{{class[0]}}"> {{class[1]}} - {{class[0]}}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
	{% if className %}
		<h3>Assignments for {{ className }}</h3>
		<ul>
			{% for assignment in assignments %}
				<li><a href="/reviews/assignment/{{assignment['assignmentID']}}">Assignment {{assignment['assignmentName']}}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
	{% if assignment %}
		<h1>{{ codeSource }} Code for Assignment {{ assignment['assignmentName'] }}</h1>
		<div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
			{% if codeToReview %}
            <ul>
              {% for code in codeToReview %}
              <li>
                <div style="border: 2px solid black; padding: 10px;">
                  {{code[1] | safe }}
                </div>
                <form method="post">
                  <input type="hidden" name="owner" value="{{code[0]}}">
			      <input type="text" placeholder="Write your comments here!" name="comments" />
			      <br><br>
			      <input type="submit" value="Upload Comments" name="submit" />
		        </form>
              </li>
              {% endfor %}
            </ul>
			{% endif %}
		  </div>
          <div class="col-sm-3"></div>
        </div>
		<br>
	{% endif %}
{% endblock %}
