{% extends "base.html" %}
{% block Title %}Submitted Assignment{% endblock %}
{% block Teacher_Content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h3>Assignment {{assignmentName}}</h3>
    Student Name: {{studentName}}<br>
    Submitted Time: {{submissionDate}}<br>
    Assigned To For Code Review: {% for assigned in assignedTo %} {{assigned}} {% endfor %}<br >
    <br>
    <div style="border:2px solid black; padding: 10px">
      {{response | safe}}
    </div>
    {% if comments %}
    <br>
    <h1>Comments</h1>
    {% for comment in comments %}
    <h4>{{ comment['submitter'] }}</h4><p style="font-size:8px; color: gray">{{ comment['timestamp'] }}</p><br>
    <p>{{ comment['comment'] }}</p>
    {% endfor %}
    {% endif %}
  </div>
  <div class="col-sm-3"></div>
</div>
{% endblock %}
