{% extends "base.html" %}
{% block Title %}Create Assignment{% endblock %}
{% block Teacher_Content %}
	<script>
	 $(document).ready(function() {
		 $('select').material_select();
	 });
	</script>
	
	<center>
		<br>
		<div class="row">
			<div class="col m2"></div>
			<div class="col m8">
				<div class="card grey lighten-4">
					<div class="card-content black-text">
						<h2>Assignment Information</h2>
						<br>
						<form class="form-create" method="POST" action="/createAssignment">
							<div class="input-field class-modal">
								<input type="text" name="assignmentName" id="assignmentName" required />
								<label for="assignmentName">Assignment Name</label>
							</div>
							<br>
							<div class="input-field class-modal">
								<textarea id="details" name="details" class="materialize-textarea" required></textarea>
								<label for="details">Assignment Description</label>
							</div>
							<br>
							<div class="input-field class-modal">
								<p style="color: rgb(158, 158, 158);">How Much Code Each Student Should Review</p>
								<p class="range-field" id="numToReview">
									<input type="range" id="numToReview" name="numToReview" min="1" max="35" required />
								</p>
							</div>
							<br>
							<div class="input-field class-modal">
								<select name="size">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
								<label>Select a Group Size</label>
							</div>
							<input type="date" name="uploadDate" id="uploadDate" class="datepicker" style="width: 75% ; margin: 0 auto" placeholder="Deadline for Uploading a Submission" required />
							<br>
							<input type="hidden" name="classCode" value="{{classCode}}">
							<br>
							<input type="date" name="reviewDate" id="reviewDate" class="datepicker" style="width: 75% ; margin: 0 auto" placeholder="Deadline for Reviewing Code" required />
							<br><br>
							<center><input type="submit" class="btn waves-effect waves-light teal darken-3" value="create" name="Create Assignment"></center>
						</form>
					</div>
				</div>
			</div>
		</div>

	<script>
	 $('.datepicker').pickadate({
		 selectMonths: true, // Creates a dropdown to control month
		 selectYears: 5, // Creates a dropdown of 15 years to control year
		 format: "yyyy-mm-dd"
	  });
	</script>
{% endblock %}
