<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Create a Password</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Sans+Pro" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	{% block stylesheet %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">{% endblock %}
	
  </head>
  <body>
	  		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper teal darken-4">
					<a class="navbar-brand" style="display: block"><span>StuyCS</span> Code Review</a>
					<ul class="right hide-on-med-and-down">
						
					</ul>
				</div>
			</nav>
		</div>
	  <br><br>
	<div class="row">
		<div class="col m2"></div>
		<div class="col m8 card">
			
			<form method="post">
				
				<center><h2 class="card-heading">Create a Password</h2></center>
				<div class="row">
					<div class="col m2"></div>
					<div class="input-field col m8">
						<input type="password" name="password" id="password" required />
						<label for="password">New Password</label>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col m2"></div>
					<div class="input-field col m8">
						<input type="password" name="confirm-password" id="confirm-password" required />
						<label for="confirm-password">Confirm Password</label>
					</div>
				</div>
				<br>
				<center><button class="btn waves-effect waves-light teal darken-3" type="submit" value="invite" name="submit">Update Password</button></center>
				<br>
			</form>
		</div>
	</div>

	
    <script>
      var errorChecker = function(){
      var error = document.getElementById("errorMessage");
      if(error.getAttribute("info") != ""){
      alert( error.getAttribute("info"));
      console.log( error.getAttribute("info") );
      }
      };

      errorChecker()
    </script>

	<script>
	 $(".button-collapse").sideNav();
	</script>

	</body>
</html>
